.admin .card{
    border: 1px solid #673ab7;
}
.admin .card:hover{
    background: #e2e2e2;
    cursor: pointer;
}
.discount-label{
    font-size: 10px!important;
    font-style: italic!important;
}
.price-discount-label
{
    font-size: 10px!important;
    font-style: italic!important;
    text-decoration: cancel-overline!important;
}
.product-cart:hover{
    background: #e2e2e2;
    cursor: pointer;
}